{
  "root": true,
  "plugins": [
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": "typescript"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "eslint:recommended",
    "plugin:eslint-comments/recommended",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "esnext",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    // fixes
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": "error",
    // off
    "no-inner-declarations": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-extra-semi": "off",
    "import/namespace": "off",
    "import/no-namespace": "off",
    "import/prefer-default-export": "off",
    "no-undef": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-namespace": "off",
    // gives false positives
    "import/named": "off",
    // modifications/weakening
    "@typescript-eslint/no-inferrable-types": [
      "warn",
      {
        "ignoreProperties": true,
        "ignoreParameters": true
      }
    ],
    "prettier/prettier": "warn",
    // modifications/weakening
    "@typescript-eslint/ban-types": [
      "error",
      {
        "extendDefaults": true,
        "types": {
          "object": false
        }
      }
    ],
    // on
    "no-template-curly-in-string": "error",
    "eslint-comments/no-unused-disable": "error",
    "import/no-nodejs-modules": [
      "error",
      {
        "allow": [
          "util"
        ]
      }
    ]
  }
}
